@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%; /* Set height to 100% */
  margin: 0; /* Remove default margin */
}

.navbar {
  background-color: rgb(255, 255, 255); /* Change to white */
  color: black; /* Change text color to black for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Soft shadow for depth */
              inset 0 -2px 5px rgba(255, 255, 255, 0.5); /* Glossy effect */
  border-bottom: 2px solid rgb(247, 164, 69); /* Set bottom border color and thickness */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
